.header {
    display: flex;
    align-items: center;

}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.header .logo{
    max-height: 40px;
    max-width: 40px;
}

.header .title-group{
    padding-left: 25vh;
}

.header .title-group i{
    padding-left: 25px;
}